body{
    margin-top: 12%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 40px;
}
.link-1 a{
    color: yellow;
    font-size: 30px;
}
.link-2 a{
    color: magenta;
    font-size: 30px;
}